package {{ .PackageName }}

import (
	metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"
)

const k8sApiVersion = "{{ .CrdApiVersion }}"

type K8sCR struct {
	metav1.TypeMeta   `json:",inline"`
	metav1.ObjectMeta `json:"metadata,omitempty"`

	Spec   K8sSpec   `json:"spec,omitempty"`
	Status K8sStatus `json:"status"`
}

type K8sSpec struct {
    {{- range .SpecProperties }}
    {{ .FieldName }} {{ .Type }} `json:"{{ .AnnotationName }}"`{{ end }}
}

type K8sStatus struct {
    {{- range .StatusProperties }}
    {{ .FieldName }} {{ .Type }} `json:"{{ .AnnotationName }}"`{{ end }}
    
    Conditions *[]struct {
		Type   *string `json:"type"`
		Status *string `json:"status"`
	} `json:"conditions"`
}