package {{ .PackageName }}

import (
	"github.com/hashicorp/terraform-plugin-framework-timeouts/resource/timeouts"
	"github.com/hashicorp/terraform-plugin-framework/types"
)

type {{ .RmTypeName }} struct {
	Name            types.String   `tfsdk:"name"`
	Timeouts        timeouts.Value `tfsdk:"timeouts"`
	ResourceVersion types.String   `tfsdk:"resource_version"`

	{{- range .SpecProperties }}
	{{ .FieldName }} {{ .TFType }} `tfsdk:"{{ .AnnotationName }}"`{{ end }}

	{{- range .StatusProperties }}
	{{ .FieldName }} {{ .TFType }} `tfsdk:"{{ .AnnotationName }}"`{{ end }}
}
