{{ if eq .Type "struct" -}}
    {{ .FieldName }}: &struct{} {
    {{- range .Properties }}{{ template "model_to_cr_field.go.tmpl" . }}{{ end -}}
    },
{{ else if eq .Type "map" -}}
    {{ .FieldName }}: map[string]struct {
    {{- range .Properties }}{{ template "model_to_cr_field.go.tmpl" . }}{{ end -}}
    },
{{ else if eq .Type "array" -}}
    {{ .FieldName }}: []struct {} {
    {{- range .Properties }}{{ template "model_to_cr_field.go.tmpl" . }}{{ end -}}
    },
{{ else -}}
{{ .FieldName }}: model.{{ .FieldName }}.{{ .GetValueMethod }},
{{ end -}}
