{{ if eq .GoType "struct" -}}
	{{ .FieldName }} *struct {
	{{- range .Properties }}{{ template "crd_property.go.tmpl" . }}{{ end -}}
	} `tfsdk:"{{ .TFName }}" json:"{{ .Name }}{{ if .Required }},omitempty{{ end }}"`
{{ else if eq .GoType "map" -}}
	{{ .FieldName }} map[string]struct {
	{{- range .Properties }}{{ template "crd_property.go.tmpl" . }}{{ end -}}
	} `tfsdk:"{{ .TFName }}" json:"{{ .Name }}{{ if .Required }},omitempty{{ end }}"`
{{ else if eq .GoType "array" -}}
	{{ .FieldName }} []struct {
	{{- range .Properties }}{{ template "crd_property.go.tmpl" . }}{{ end -}}
	} `tfsdk:"{{ .TFName }}" json:"{{ .Name }}{{ if .Required }},omitempty{{ end }}"`
{{ else -}}
{{ .FieldName }} {{ .GoType }} `tfsdk:"{{ .TFName }}" json:"{{ .Name }}{{ if .Required }},omitempty{{ end }}"`
{{ end -}}