"{{ .TFName }}": {{ .ArgumentType }}{
Required: {{ .Required }},
Optional: {{ .Optional }},
Computed: {{ .Computed }},
{{ if .Description }}Description: "{{ .Description }}",{{ end }}
{{ if .Default }}Default: {{ .Default }},{{ end }}
{{ if .Immutable }}PlanModifiers: []planmodifier.String{
	{{ .GoType }}planmodifier.RequiresReplace(),
},{{ end }}
{{ if gt (len .Validators) 0 -}}
Validators: []{{ .ValidatorsType }}{
	{{ range $index, $validator := .Validators -}}
	{{ $validator }},
	{{ end }}
},
{{ end -}}
{{ if .ElementType }}ElementType: {{ .ElementType }},{{ end }}
{{ if eq .GoType "struct" -}}
	Attributes: map[string]schema.Attribute{
	{{ range .Properties -}}
		{{ template "schema_attribute.go.tmpl" . }}
	{{ end -}}
	},
{{ else if eq .GoType "map" -}}
    NestedObject: schema.NestedAttributeObject{
		Attributes: map[string]schema.Attribute{
		{{ range .Properties -}}
			{{ template "schema_attribute.go.tmpl" . }}
		{{ end -}}
		},
	},
{{ else if eq .GoType "array" -}}
	NestedObject: schema.NestedAttributeObject{
		Attributes: map[string]schema.Attribute{
		{{ range .Properties -}}
			{{ template "schema_attribute.go.tmpl" . }}
		{{ end -}}
		},
	},
{{ end -}}
},